body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 600;
}

a, a:hover, a:focus {
    color: #ff8a38;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
    font-style: italic;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
    font-style: italic;
}

img {
    max-width: 100%;
}

.medium-paragraph {
    font-size: 17px;
    line-height: 32px;
}

.colored-text {
    color: #ff8a38;
}

::-moz-selection {
    background: #ff8a38;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #ff8a38;
    color: #fff;
    text-shadow: none;
}

/***** Loader *****/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden !important;
    z-index: 99999;
}

.loader-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    background: url(../img/loading.gif) center center no-repeat;
}

/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
    background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

    .section-container-image-bg .divider-1 span {
        border-color: #fff;
    }

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

    .section-description p {
        margin-top: 20px;
        padding: 0 120px;
    }

.section-container-image-bg .section-description p {
    opacity: 0.8;
}

.section-bottom-button {
    padding-top: 60px;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 40px 0 40px;
    background: #ff8a38; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ff8a38)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb24b 0%,#ff8a38 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
    border: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

    .btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
        background: #ff8a38; /* Old browsers */
        background: -moz-linear-gradient(top, #ffb24b 0%, #ff8a38 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#ff8a38)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffb24b 0%,#ff8a38 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffb24b 0%,#ff8a38 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        outline: 0;
        opacity: 0.6;
        color: #fff;
    }

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 40px 0 40px;
    background: #444;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    text-transform: uppercase;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

    .btn-link-2:hover, .btn-link-2:focus,
    .btn-link-2:active, .btn-link-2:active:focus {
        outline: 0;
        opacity: 0.6;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
    }

/***** Divider *****/

.divider-1 span {
    display: inline-block;
    width: 200px;
    border-bottom: 1px dotted #aaa;
}

/***** Top menu *****/

.navbar {
    margin-bottom: 0;
    background: #444;
    border: 0;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

    .navbar.navbar-no-bg {
        background: #444;
        background: rgba(0, 0, 0, 0.2);
    }

.navbar-right {
    margin-right: 0;
}

ul.navbar-nav {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-inverse ul.navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    opacity: 0.8;
}

    .navbar-inverse ul.navbar-nav li a:hover {
        color: #fff;
        opacity: 1;
    }

    .navbar-inverse ul.navbar-nav li a:focus {
        color: #fff;
        outline: 0;
        opacity: 1;
    }

.navbar-text a {
    margin: 0 8px;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    opacity: 0.8;
}

    .navbar-text a:hover {
        opacity: 1;
    }

.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

/***** Top content *****/

.inner-bg {
    padding: 100px 0;
}

.top-content .text {
    color: #fff;
}

    .top-content .text .logo a {
        display: inline-block;
        width: 250px;
        height: 250px;
        background: url(../img/foto4.png) center no-repeat;
        border-radius: 50%
    }

    .top-content .text h1 {
        margin-top: 25px;
        color: #fff;
    }

.top-content .description {
    margin: 30px 0 10px 0;
}

    .top-content .description p {
        opacity: 0.8;
    }

.top-content .top-big-link {
    margin-top: 45px;
}

/***** Work Experience *****/

.work-experience-container {
    background-color: white;
    color: black;
}
    .work-experience-container h3 {
        font-weight: bold;
        color: rgb(255, 0, 0);
    }

    .work-experience-container a {
        color: #0000ff;
    }

.work-experience-box {
    margin-top: 30px;
    text-align: left;
}

    .work-experience-box .work-experience-box-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        font-size: 32px;
        color: black;
        line-height: 60px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

.work-experience h2 {
    color: black;
}

.work-experience-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: black;
    font-style: italic;
}

.work-experience-box-date {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

    .work-experience-box-date i {
        padding-right: 5px;
        color: black;
    }

/***** Education & Training *****/

.education-training-container {
    /*background-color: rgb(104, 0, 104);*/
    color: white;
}

    .education-training-container a {
        color: greenyellow;
    }

.education-training-box {
    margin-top: 15px;
    text-align: left;
}

    .education-training-box .education-training-box-icon {
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 );
        font-size: 32px;
        color: #fff;
        line-height: 60px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 5%;
        background-color: white;
    }

.education-training h2 {
    color: white;
}

.education-training-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: white;
    font-style: italic;
}

.education-training-box-date {
    /*padding-bottom: 10px;*/
    padding-left: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

    .education-training-box-date i {
        padding-right: 5px;
        color: white;
    }

/***** Personal Skills *****/

.personal-skills-container {
    color: black;
}

    .personal-skills-container a {
        color: cadetblue;
    }

.personal-skills-box {
    margin-top: 30px;
    text-align: left;
}

    .personal-skills-box .personal-skills-box-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        font-size: 32px;
        color: black;
        line-height: 60px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

.personal-skills h2 {
    color: cadetblue;
}

.personal-skills-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: black;
    font-style: italic;
}

.personal-skills-date {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
}

    .personal-skills-date i {
        padding-right: 5px;
        color: cadetblue;
    }

/***** Certifications *****/

.certifications-container {
    background-color: darkcyan;
    color: white;
}

    .certifications-container a {
        color: gold;
    }

.certifications-box {
    margin-top: 15px;
    text-align: left;
	line-height: 20px;
}

    .certifications-box .certifications-box-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        font-size: 28px;
        color: #fff;
        /*line-height: 60px;*/
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

.certifications h2 {
    color: white;
}

.certifications-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: white;
    font-style: italic;
}

.certifications-box h4 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: white;
    font-style: italic;
}

.certifications-box-date {
    /*padding-bottom: 10px;*/
    padding-left: 10px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}

    .certifications-box-date i {
        padding-right: 5px;
        color: white;
    }

/***** Initiatives *****/

.initiatives-container {
    background-color: black;
    color: white;
}

    .initiatives-container a {
        color: #a8d600;
    }

.initiatives-box {
    margin-top: 30px;
    text-align: left;
}

    .initiatives-box .initiatives-box-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        font-size: 32px;
        color: white;
        line-height: 60px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

.initiatives h2 {
    color: white;
}

.initiatives-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: white;
    font-style: italic;
}

.initiatives-box-date {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

    .initiatives-box-date i {
        padding-right: 5px;
        color: white;
    }

    

/***** Contact *****/

.contact-container {
    background-color: black;
    color: white;
}

    /* .contact-container a {
        color: #d6b600;
    } */

.contact-box {
    margin-top: 30px;
    text-align: left;
}

    .contact-box .contact-box-icon {
        width: 60px;
        height: 60px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#ff8a38',GradientType=0 ); /* IE6-9 */
        font-size: 32px;
        color: white;
        line-height: 60px;
        text-align: center;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

.contact h2 {
    color: white;
}

.contact-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
    color: white;
    font-style: italic;
}

.contact-box-date {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
}

    .contact-box-date i {
        padding-right: 5px;
        color: white;
    }

/***** Footer *****/

footer {
    /* padding: 40px 0 0 0; */
    background: #444;
    color: #aaa;
    text-align: left;
}

    footer h3 {
        color: #aaa;
    }

.contact-form {
    padding-top: 20px;
}

    .contact-form textarea {
        height: 100px;
    }

    .contact-form .input-error {
        border-color: #ff8a38;
    }

.footer-social {
    padding-top: 20px;
}

    .footer-social a {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-right: 6px;
        margin-bottom: 10px;
        padding-top: 7px;
        background: #666;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font-size: 32px;
        color: #ddd;
        line-height: 40px;
        text-align: center;
    }

        .footer-social a:hover, .footer-social a:focus {
            background: #777;
            color: #eee;
        }

        .footer-social a i {
            vertical-align: middle;
        }

.footer-copyright {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px dotted #777;
}

    .footer-copyright a {
        color: #ddd;
    }

        .footer-copyright a:hover, .footer-copyright a:focus {
            color: #eee;
        }

.footer-bottom {
    /* margin-top: 60px; */
    /* padding-top: 15px; */
    /* padding-bottom: 25px; */
    background: #3d3d3d;
    text-align: center;
}

    .footer-bottom a {
        font-size: 32px;
        color: #666;
        line-height: 40px;
    }

        .footer-bottom a:hover, .footer-bottom a:focus {
            color: #888;
        }

.footer-box-date {
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
}

    .footer-box-date i {
        padding-right: 5px;
        color: #ddd;
    }